#run pip install -r requirements-dev.txt
pytest
pylint
ipdb
jupyterlab
jupyter
numpy
pandas
matplotlib
seaborn
scikit-learn
llama_cpp_python
huggingface-hub
torch
transformers
google-generativeai
python-dotenv
streamlit
transformers
pymilvus
langchain-community
